In [1]:
import numpy as np
import pandas as pd

In [30]:
#  Step 1: Setup
np.random.seed(42)  # for reproducibility
N = 10000 # number of people

In [31]:
# Step 2: Generate Demographic Info
# Age (range: 18–70)
ages = np.random.randint(18,70, size=N)

In [43]:
# Gender (0: Male, 1: Female)
genders = np.random.choice([0,1], size=N).astype(int)

In [34]:
# Height (cm) and Weight (kg)
heights = np.where(genders == 0, 
                          np.random.normal(175, 10, N),  # male
                          np.random.normal(162, 8, N))   # female
weights = np.random.normal(70, 15, N) + (ages - 30) * 0.2 #slight age influence

In [45]:
#  Step 3: Fitness Activity Simulation
# Step Count (daily)
steps = np.random.normal(6000, 2500, N)
steps = np.clip(steps, 1000, 20000)

In [36]:
# Heart Rate (average resting)
heart_rates = np.random.normal(70, 10, N)

In [37]:
# Sleep Hours
sleep_hours = np.random.normal(7.0, 1.2, N)
sleep_hours = np.clip(sleep_hours, 3.5, 10)

In [38]:
# Calories Burned
calories = (steps * 0.04 + weights * 10) + np.random.normal(0, 50, N)

In [39]:
# Active Minutes
active_minutes = steps // 100

In [40]:
# Step 4: Derived Metrics
heights_m = heights / 100
bmi = weights / (heights_m ** 2)

In [41]:
# Health Score (0–100) 
health_score = (
    0.2 * (20000 - steps) / 20000 + 
    0.2 * (80 - heart_rates) / 80 +
    0.2 * (bmi < 25) +
    0.2 * (sleep_hours / 8) +
    0.2 * (active_minutes / 180)
) * 100

health_score = np.clip(health_score, 0, 100)

In [49]:
# Step 5: Compile the Data
data = np.column_stack((ages, genders, heights, weights, steps, heart_rates,
                        sleep_hours, calories, active_minutes, bmi, health_score))
columns = ['Age', 'Gender', 'Height_cm', 'Weight_kg', 'Steps', 'Heart_Rate',
           'Sleep_Hours', 'Calories', 'Active_Minutes', 'BMI', 'Health_Score']
df = pd.DataFrame(data, columns=columns)
df.head()

,Age,Gender,Height_cm,Weight_kg,Steps,Heart_Rate,Sleep_Hours,Calories,Active_Minutes,BMI,Health_Score
0,56.0,1.0,196.013814,76.002266,7062.499199,85.595249,4.446535,935.923233,61.0,19.781225,50.387302
1,69.0,1.0,175.818680,96.792774,9221.254024,69.275464,6.258289,1147.629752,58.0,31.312151,38.879301
2,46.0,0.0,173.883637,97.608985,2424.262592,72.512275,6.860222,1144.561121,54.0,32.282887,39.585486
3,32.0,0.0,165.155158,53.138194,1017.563036,63.381628,8.238530,805.349280,85.0,19.481505,65.675362
4,60.0,1.0,166.564755,41.873540,5389.546782,69.042717,6.929648,718.223858,66.0,15.092927,60.783774

In [ ]:
df.to_csv(r"")